form {
    background-color: white;
    max-width: 600px;
    margin: 0 auto;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

h2 {
    text-align: center;
    ;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #555;
}

form input[type="text"],
form input[type="number"],
form select,
form textarea {
    width: 100%;
    padding: 10px 12px 10px 0px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background-color: #f9fafb;
    font-size: 16px;
}

form input:focus,
form select:focus,
form textarea:focus {
    border-color: #003087;
    outline: none;
    background-color: #fff;
}

form textarea {
    font-family: sans-serif;
    padding-left: 15px;
    resize: none;
}

form button[type="submit"] {
    width: 100%;
    background-color: #003087;
    color: white;
    padding: 12px;
    font-size: 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="submit"]:hover {
    background-color: #002f87b0;
}

.category-buttons {
    display: flex;
    justify-content: center;
    /* Equal spacing between buttons */
    gap: 20px;
    /* Space between buttons */
}

button {
    padding: 10px 15px;
    background-color: #003087;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
}


.review-form {
    margin-top: 10px;
    ;
}

.star-rating input[type="radio"] {
    display: none;
}

.star-rating label {
    font-size: 30px;
    color: #ccc;
    cursor: pointer;
    transition: color 0.3s ease;
    margin: 0 5px;
}

.star-rating label:hover,
.star-rating input[type="radio"]:checked~label {
    color: #ffbc00;
}

.star-rating {
    display: flex;
    justify-content: flex-start;;
    align-items: center;
}

.star-rating input[type="radio"]:checked~label {
    color: #ffbc00;
}

.star-rating label:hover~label {
    color: #ffbc00;
}

.likert-question {
    margin-bottom: 20px;
    width: 100%;
}

.likert-title {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 16px;
    color: #555
}

.likert-row {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0;
    width: 100%;
}

.likert-label {
    width: 80px;
    text-align: center;
}

.likert-slider {
    flex-grow: 1;
    margin: 0 10px;
    max-width: 400px;
    color: #003087;
}