
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-size: cover;
}

.navbar-container {
  background-color: #003087;
  padding: 20px 0;
}

#nav_bar {
  position: relative;
  border: none;
  border-radius: 10em;
  display: flex;
  list-style: none;
  background-color: #7991d9;
  box-shadow: 20px 40px 40px #00000033;
  padding: 10px;
  justify-content: center;
}

#nav_bar li a {
  position: relative;
  padding: 15px 50px;
  font: 500 24px 'Arial', sans-serif;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  display: inline-block;
  text-decoration: none;
  z-index: 3;
}

.slide1,
.slide2 {
  position: absolute;
  display: inline-block;
  height: 60px;
  border-radius: 10em;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1.05);
}

.slide1 {
  background-color: #003087;
  z-index: 2;
}

.slide2 {
  opacity: 0;
  background-color: #366bcf;
  z-index: 1;
  box-shadow: 0 0 20px #ffffffaa inset;
}

.squeeze {
  transform: scale(0.9);
}
