* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  /* 清除默认 margin */
  padding: 0;
  /* 可选，保持干净 */
}

.test-box {
  border: 5px solid #010101;
}

#main-box {
  border: 5px solid #2dee0a;
  width: 100%;
  height: 100%;
}
.content-row {
  display: flex;
  height: 90%;
  border: 10px solid #1b07b5;
}
.navbar-box {
  border: 10px solid #2dee0a;
  width: 100%;
  height: 10%;
}

.lastviewd-box {
  display: flex;
}

.liked-box {
  display: flex;
}

.gallery-box {
  display: flex;
}