<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Awards Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mycss/awards.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{{ url_for('static', filename='Js/top_reviews_chart.js') }}"></script>

</head>
<body>
    <div class="menu-bar">
        <a href="#"><i class="fa fa-home"></i></a>
    </div> 

    <div class="image-container">
        <img src="{{ url_for('static', filename='imgs/Awards/Header1.jpg') }}" alt="Header" class="image_bar">
        <div class="text-over-image">Awards</div>
    </div>
          
    <div class="main-container">
        <div class="selection-buttons">
            <a href="{{ url_for('awards.study_awards_page') }}">
                <button id="studyButton">Study</button>
            </a>
            <a href="{{ url_for('awards.grub_awards_page') }}">
                <button id="grubButton">Grub</button>
            </a>
            <a href="{{ url_for('awards.snap_awards_page') }}">
                <button id="funButton">Snap</button>
            </a>
            <a href="{{ url_for('awards.fun_awards_page') }}">
                <button  id="funButton">Fun</button>
            </a>
            <button id="shopButton">Shop</button>
            <button id="chillButton">Chill</button>
        </div>

        <div class="awards-container">

            <div id="study">
                <ul>
                    {% if best_study_spot %}
                    <li>
                        <div class="image-card">
                            <img src="{{ url_for('static', filename=best_study_spot.image_path or 'imgs/Awards/Placeholder.jpg') }}" alt="Best Study Spot">
                            <div class="winner-title">{{ best_study_spot.spot_name }}</div>
                        </div>
                        <br>
                        <button
                            class="award-button"
                            data-award="Best Study Spot"
                            data-category="6"
                            data-metric="rank_overall"
                            data-title="Top 5 Best Study Spots"
                        >Best Study Spot Overall</button>
                    </li>
                    {% endif %}

                    {% if quietest_spot %}
                    <li>
                        <div class="image-card">
                            <img src="{{ url_for('static', filename=quietest_spot.image_path or 'imgs/Awards/Placeholder.jpg') }}" alt="Quietest Spot">
                            <div class="winner-title">{{ quietest_spot.spot_name }}</div>
                        </div>
                        <br>
                        <button
                            class="award-button"
                            data-award="Quietest Spot"
                            data-category="6"
                            data-metric="rank_noise_level"
                            data-title="Top 5 Quietest Study Spots"
                        >Quietest Study Spot</button>
                    </li>
                    {% endif %}

                    {% if best_vibes %}
                    <li>
                        <div class="image-card">
                            <img src="{{ url_for('static', filename=best_vibes.image_path or 'imgs/Awards/Placeholder.jpg') }}" alt="Best Vibes">
                            <div class="winner-title">{{ best_vibes.spot_name }}</div>
                        </div>
                        <br>
                        <button
                            class="award-button"
                            data-award="Best Vibes"
                            data-category="6"
                            data-metric="rank_atmosphere"
                            data-title="Top 5 Study Spots with the Best Vibes"
                        >Best Vibes Overall</button>
                    </li>
                    {% endif %}
                </ul>
            </div>


            <div id="grub">
                <ul>
                    {% if best_grub_spot %}
                    <li>
                        <div class="image-card">
                            <img src="{{ url_for('static', filename=best_grub_spot.image_path or 'imgs/Awards/Placeholder.jpg') }}" alt="Tastiest Grub">
                            <div class="winner-title">{{ best_grub_spot.spot_name }}</div>
                        </div>
                        <br>
                        <button
                            class="award-button"
                            data-award="Tastiest Grub"
                            data-category="3"
                            data-metric="rank_overall"
                            data-title="Top 5 Tastiest Grub Spots"
                        >Tastiest Grub</button>
                    </li>
                    {% endif %}

                    {% if most_worth_it %}
                    <li>
                        <div class="image-card">
                            <img src="{{ url_for('static', filename=most_worth_it.image_path or 'imgs/Awards/Placeholder.jpg') }}" alt="Most Worth It">
                            <div class="winner-title">{{ most_worth_it.spot_name }}</div>
                        </div>                                        
                        <br>
                        <button
                            class="award-button"
                            data-award="Most Worth It"
                            data-category="3"
                            data-metric="rank_value"
                            data-title="Top 5 Best Value for Money Spots"
                        >
                        Most Worth It!</button>
                    </li>
                    {% endif %}

                    {% if best_service %}
                    <li>
                        <div class="image-card">
                            <img src="{{ url_for('static', filename=best_service.image_path or 'imgs/Awards/Placeholder.jpg') }}" alt="Best Service">
                            <div class="winner-title">{{ best_service.spot_name }}</div>
                        </div>                                        
                        <br>
                        <button
                            class="award-button"
                            data-award="Best Service"
                            data-category="3"
                            data-metric="rank_service_quality"
                            data-title="Top 5 Spots with the Best Service"
                        >Best Service</button>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div id="snap" style="display:none;">
                <ul>
                    {% if best_reviews %}
                    <li>
                        <div class="image-card">
                            <img src="{{ url_for('static', filename=best_reviews.image_path) }}" alt="Best Reviews">
                            <div class="winner-title">{{ best_reviews.spot_name }}</div>
                        </div>
                        <br>
                        <button class="award-button" data-award="Best Reviews" data-category="5" data-metric="rank_overall">Best Reviews</button>
                    </li>
                    {% endif %}

                    {% if solo_shoot %}
                    <li>
                        <div class="image-card">
                            <img src="{{ url_for('static', filename=solo_shoot.image_path) }}" alt="Solo Shoot">
                            <div class="winner-title">{{ solo_shoot.spot_name }}</div>
                        </div>
                        <br>
                        <button class="award-button" data-award="Solo Shoot" data-category="5" data-metric="rank_crowdedness">Solo Shoot</button>
                    </li>
                    {% endif %}

                    {% if best_vibe %}
                    <li>
                        <div class="image-card">
                            <img src="{{ url_for('static', filename=best_vibe.image_path) }}" alt="Best Vibe">
                            <div class="winner-title">{{ best_vibe.spot_name }}</div>
                        </div>
                        <br>
                        <button class="award-button" data-award="Best Vibe" data-category="5" data-metric="rank_atmosphere">Best Vibe</button>
                    </li>
                    {% endif %}                  
                </ul>
            </div>

            <div id="fun" style="display:none;">
                <ul>
                    {% if best_reviews %}
                    <li>
                        <div class="image-card">
                            <img src="{{ url_for('static', filename=best_reviews.image_path) }}" alt="Best Reviews">
                            <div class="winner-title">{{ best_reviews.spot_name }}</div>
                        </div>
                        <br>
                        <button class="award-button" data-award="Best Reviews" data-category="2" data-metric="rank_overall">Best Reviews</button>
                    </li>
                    {% endif %}

                    {% if most_welcoming %}
                    <li>
                        <div class="image-card">
                            <img src="{{ url_for('static', filename=most_welcoming.image_path) }}" alt="Most Welcoming">
                            <div class="winner-title">{{ most_welcoming.spot_name }}</div>
                        </div>
                        <br>
                        <button class="award-button" data-award="Most Welcoming" data-category="2" data-metric="rank_atmosphere">Most Welcoming</button>
                    </li>
                    {% endif %}

                    {% if worth_it %}
                    <li>
                        <div class="image-card">
                            <img src="{{ url_for('static', filename=worth_it.image_path) }}" alt="Worth It">
                            <div class="winner-title">{{ worth_it.spot_name }}</div>
                        </div>
                        <br>
                        <button class="award-button" data-award="Worth It!" data-category="2" data-metric="rank_value">Worth It!</button>
                    </li>
                    {% endif %}
                </ul>
            </div>

            <div id="shop" style="display:none;">
                <ul>
                    <li>
                        <h2>Winner Placeholder</h2>
                        <br>
                        <img src="{{ url_for('static', filename='imgs/Awards/Placeholder.jpg') }}" alt="Most Affordable">                                          
                        <br>
                        <button class="award-button" data-award="Most Affordable">Most Affordable</button>
                    </li>
                    <li>
                        <h2>Winner Placeholder</h2>
                        <br>
                        <img src="{{ url_for('static', filename='imgs/Awards/Placeholder.jpg') }}" alt="Best Variety">                                          
                        <br>
                        <button class="award-button" data-award="Best Variety">Best Variety</button>
                    </li>
                    <li>
                        <h2>Winner Placeholder</h2>
                        <br>
                        <img src="{{ url_for('static', filename='imgs/Awards/Placeholder.jpg') }}" alt="Fastest Service">                                          
                        <br>
                        <button class="award-button" data-award="Fastest Service">Fastest Service</button>
                    </li>
                </ul>
            </div>

            <div id="chill" style="display:none;">
                <ul>
                    <li>
                        <h2>Winner Placeholder</h2>
                        <br>
                        <img src="{{ url_for('static', filename='imgs/Awards/Placeholder.jpg') }}" alt="Best Hangout">                                          
                        <br>
                        <button class="award-button" data-award="Best Hangout">Best Hangout</button>
                    </li>
                    <li>
                        <h2>Winner Placeholder</h2>
                        <br>
                        <img src="{{ url_for('static', filename='imgs/Awards/Placeholder.jpg') }}" alt="Most Relaxing">                                          
                        <br>
                        <button class="award-button" data-award="Most Relaxing">Most Relaxing</button>
                    </li>
                    <li>
                        <h2>Winner Placeholder</h2>
                        <br>
                        <img src="{{ url_for('static', filename='imgs/Awards/Placeholder.jpg') }}" alt="Peaceful Vibes">                                          
                        <br>
                        <button class="award-button" data-award="Peaceful Vibes">Peaceful Vibes</button>
                    </li>
                </ul>
            </div>

            <div id="award-stats">
                <h3 id="award-title"></h3>
                <div id="chart-container">
                    <canvas id="top_reviews_chart" width="90%" height="150"></canvas>
                </div>
            </div>

        </div>
    </div>

    <script>
        const studyButton = document.getElementById('studyButton');
        const grubButton = document.getElementById('grubButton');
        const snapButton = document.getElementById('snapButton');
        const funButton = document.getElementById('funButton');
        const shopButton = document.getElementById('shopButton');
        const chillButton = document.getElementById('chillButton');

        const study = document.getElementById('study');
        const grub = document.getElementById('grub');
        const snap = document.getElementById('snap');
        const fun = document.getElementById('fun');
        const shop = document.getElementById('shop');
        const chill = document.getElementById('chill');

        const awardStats = document.getElementById('award-stats');
        const awardTitle = document.getElementById('award-title');
        const awardDescription = document.getElementById('award-description');

        function hideAllAwards() {
            study.style.display = 'none';
            grub.style.display = 'none';
            snap.style.display = 'none';
            fun.style.display = 'none';
            shop.style.display = 'none';
            chill.style.display = 'none';
            awardStats.style.display = 'none';
        }

        studyButton.addEventListener('click', () => {
            hideAllAwards();
            study.style.display = 'block';
        });

        grubButton.addEventListener('click', () => {
            hideAllAwards();
            grub.style.display = 'block';
        });

        snapButton.addEventListener('click', () => {
            hideAllAwards();
            snap.style.display = 'block';
        });

        funButton.addEventListener('click', () => {
            hideAllAwards();
            fun.style.display = 'block';
        });

        shopButton.addEventListener('click', () => {
            hideAllAwards();
            shop.style.display = 'block';
        });

        chillButton.addEventListener('click', () => {
            hideAllAwards();
            chill.style.display = 'block';
        });

        document.querySelectorAll('.award-button').forEach(button => {
            button.addEventListener('click', () => {
                const award = button.getAttribute('data-award');
                awardTitle.textContent = award;
                awardStats.style.display = 'block';
            });
        });
    </script>
</body>
</html>