<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Bootstrap  -->
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}"
  />

  <!-- Bootstrap Icons（CDN）-->
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    rel="stylesheet"
  />


  <!-- 自定义 Login 样式 -->
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='mycss/datashare.css') }}"
  />

 <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='imgs/icon.png') }}"
    type="image/png"
    sizes="32x32"
  />


  <title>profile</title>

  <script
    src="{{ url_for('static', filename='Jquery/jquery.js') }}"
    defer
  ></script>
<script>
  const friend = {{ friend | tojson }};
  const user = {{ user | tojson }};
  const allUsers = {{ allUsers | tojson }};
  const newrequest = {{ newrequest | tojson }};
</script>


  <script
    src="{{ url_for('static', filename='Js/datashare.js') }}"
    defer
  ></script>

  <!-- Bootstrap JS-->
  <script
    src="{{ url_for('static', filename='bootstrap/Js/bootstrap.bundle.min.js') }}"
    defer
  ></script>

</head>

<body class="h-100">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-md-4 h-100" style="background-color:rgba(0, 0, 0, 0.889)"></div>
      <div class="col-md-4 h-100 " style="background-color:rgba(0, 0, 0, 0.889)">
        <div class="wall-paper-box">
          <img   alt="wallpaper" class="blur-image">
          <div>
              <a href="{{ url_for('Home.home') }}">
                  <i class="bi bi-house-door fs-3"></i>
              </a>

          </div>
        </div>
        <div class="user-content-box " style="background-color:rgba(255, 255, 255, 1)">
          <div class="profile-box ">
            <img  alt="avator">
          </div>
          <div class="blow-profile align-items-center">
            <div class="friends-box">
              <h5>My Friends</h5>
              <div class="scroll-box test-box" id="friends"  style="max-height: 130px;">
              </div>
            </div>
            <div class="newfriends-box ">
              <h5>New Requests</h5>
              <div class="scroll-box test-box" id="requests"  style="max-height: 130px;">

              </div>
            </div>

            <div class="find-box ">
              <h5>Find new connections</h5>
              <div class="mb-2">
                 <input type="text" id="searchInput" class="form-control" placeholder="Search by name...">
              </div>
              <div class="scroll-box test-box" id="find"  style="max-height: 130px;">

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 h-100" style="background-color:rgba(0, 0, 0, 0.889)"></div>
    </div>
  </div>
</body>

</html>